:root {
  --background-color: rgba(12, 12, 12, 1);
  --hover-background-color: rgba(25, 25, 25, 0.13);
  --input-background-color: rgba(10, 10, 10, 1);
  --input-hover-background-color: rgba(10, 10, 10, 0.49);
  --tab-bg-color: rgba(50, 50, 50, 1);
  --tab-active-bg-color: rgba(90, 90, 90, 1);
  --utility-background-color: rgba(50, 50, 50, 1);
  --dark-translucent-bg: rgba(80, 80, 80, 0.43);
  --background-image: url("/res/DDX.bg.png");
  --logo: url("/res/logo.png");

  --border-color: rgba(90, 90, 90, 1);

  --text-color: rgba(178, 178, 178, 1);
  --hover-text-color: rgba(178, 178, 178, 0.8);
  --active-text-color: rgba(128, 128, 128, 1);

  --tab-content-margin: 9px;
  --searchbar-width: calc(100% - calc(2 * 36px));

  --main-color: rgba(199, 125, 255, 1);
  --muted: rgba(128, 128, 128, 1);
  --faded-main-color: rgba(128, 128, 128, 0.26);
}
